
/*$middle-yellow: rgba(255, 233, 0, 1);
$lincoln-green: rgba(42, 77, 20, 1);
$ao-english: rgba(49, 123, 34, 1);
$vivid-sky-blue: rgba(68, 204, 255, 1);
$cornflower-blue: rgba(116, 148, 234, 1);*/

/*Fugu Stylesheet*/
/*__________________________________________________*/

html{
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-text‑size‑adjust: 100%;
}

*,*:before, *:after{
	box-sizing: inherit;
}

body {
  font-family:Oxygen;
  padding: 0;
  margin: 50px 50px;
  background-image: url("../00_sitePics/Background_tile.jpg");
  background-size: 600px;
  background-repeat: repeat;
  max-width: 100%;
}

h1{
	font-family: Permanent Marker;
	font-size: 80px;
	text-align: center;
	margin: 0;
	padding: 0;
}

h2{
	font-size: 36px;
	text-align: center;
	margin: 0;
	padding: 0 0 50px;
}

h3{
	font-size: 28px;
	margin: 0;
	border-bottom: 2px solid green;
	padding: 0 0 10px;
}

ul{
	display: block;
    list-style: none;
    padding: 10px 0px 20px 10px;
    margin: 0;
}

ol{
    padding: 10px 0px 20px 10px;
    margin: 0;
}


/*header*/
/*__________________________________________________*/

header {
	background-color: rgba(255,255,255,0.9);
	padding: 25px 50px 0px;
	height: 180px;
}

.logo{
	background-color: white;
	border: 10px solid rgba(255, 233, 0, 1);
	height: 150px;
	width: 150px;
	margin: 10px auto;
	z-index: 5;
	position: relative;
	border-radius: 500px;
	padding: 0;
	background-image: url("../00_sitePics/Icon_Fugu.png");
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}

.logo a{
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 130px;
	width: 130px;
	margin: 0;
	color: transparent;
}

.header-stripe{
	border-top: 5px solid rgba(42, 77, 20, 1);
	border-bottom: 5px solid rgba(42, 77, 20, 1);
	position: relative;
	height: 30px;
	top: -100px;
	z-index: 3;
}


/*Page title*/
/*__________________________________________________*/

.page-title{
	background-color: rgba(255,255,255,0.9);
	margin:0;
	padding: 0;
}

h1#index {
	font-family: Permanent Marker;
	font-size: 100px;
	text-align: center;
	margin: 0;
}


/*Landing page*/
/*__________________________________________________*/

.flex-container-L1{
	background-color: rgba(255,255,255,0.9);
	padding: 0 0 25px;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-shrink: 1;
}

.flex-container-L2{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	flex-shrink: 1;
}

.icon{
	border-radius: 25px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.icon-container.index{
	padding: 25px 30px;
	width: 400px;
}

.icon:hover{
	opacity: 50%;
}

.icon.index{
	height:	225px;
	width: 225px;
	border-radius: 25px;
	margin: 0 auto;
}

.icon.recipes{
	background-image: url("../00_sitePics/Icon_Recipe.png");
}

.icon.gallery{
	background-image: url("../00_sitePics/Icon_Gallery.png");
}

.icon.meallog{
	background-image: url("../00_sitePics/Icon_Log.png");
}

.icon.restaurants{
	background-image: url("../00_sitePics/Icon_Restaurant.png");
}

.icon-container.index p{
	text-align: center;
	font-size: 50px;
	margin: 10px auto;
	padding: 0;
	font-family: Permanent Marker;
}

.icon.index a{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 225px;
	width: 225px;
 	border-radius: 25px;
	color: transparent;
}


/*Nav bar
__________________________________________________*/

.icon-container.navbar{
	padding: 25px 5px 0px;
	width: 200px;
}

.icon.navbar{
	height:	150px;
	width: 150px;
	border-radius: 25px;
	margin: 0 auto;
}

.icon.navbar a{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	width: 150px;
 	border-radius: 25px;
	color: transparent;
}

.icon-container.navbar p{
	text-align: center;
	font-size: 18px;
	margin: 10px 5px;
	padding: 0;
}


/*PAGE CONTENT*/
/*__________________________________________________*/


/*Recipe list
__________________________________________________*/

.recipe-list{
	background-color: rgba(255,255,255,0.9);
	margin: 0;
	padding: 0 50px 50px;
}

.recipe-container{
	margin: 0 0 25px;
	padding: 0;
}

.recipe-container h2{
	font-size: 28px;
	border-bottom: 2px solid green;
	text-align: left;
	margin: 0;
	padding: 0 0 10px;
}

.recipe-container a{
	color: black;
	font-size: 20px;
	text-decoration: none;
	display: block;
	line-height: 40px;
}

.recipe-container li{
	padding: 0px 10px;
	margin: 0px 0px 25px;
}

.recipe-container li:hover{
	background-color: rgba(255, 233, 0, 1);
}


/*Recipe page
__________________________________________________*/

.ingredients, .method, .source{
	margin: 0;
	padding: 12.5px 50px;
	background-color: rgba(255,255,255,0.9);
}

.ingredients ul{
	padding: 0px 20px;
}

.method ol{
	padding: 0px 20px;
}

.ingredients li, .method li{
	margin: 10px;
	font-size: 16px;
}

.ingredients li{
	list-style: initial;
}

@media only screen and (max-width: 600px){
	.ingredients li, .method li{
		font-size: 30px;
	}
}
.source p, .source a{
	margin:10px 20px;
}
























