/* General */

body {
  background: white;
  max-width: 1400px;
  font-family:Oxygen;
  text-align: center;
  margin: auto;
  padding-bottom: 100px
}

h1{
	font-family: Permanent Marker;
	font-size: 50px;
	margin: 10px 0px 0px 0px;
}

h2{
	font-family: Oxygen;
	text-align: center;
	margin: 0px 0px 50px 0px;
	font-size: 20px;
}

h3{
	text-align: left;
	font-size: 20px;
	margin: 30px 0px 0px 0px;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
}

p{
	font-size: 16px;
	text-align: left;
	margin: 10px;
}

ul{
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 10px;
}

ol{
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 10px;
}

li{
	text-align: left;
	margin: 10px;
}


/* Header */

header{	
	color: white;
	background-image: url("../Pics/Fugu1.jpg");
	background-size: cover;
	background-position: 50% 35%;
	text-align: center;
}

h1.header{
	font-family:Permanent Marker;
	font-size: 75px;
	padding: 5px 0 5px 0;
	margin: 0;
	background: rgba(0,0,0,0.6);
}

ul.nav{
	text-align: center;
	background: rgba(0,0,0,0.6);
	margin: 0px;
	padding: 10px;
}

ul.nav li{
	display: inline-block;
	text-align: center;
}

ul.nav li a{
	display: inline-block;
	color: white;
	width: 200px;
	text-decoration: none;
	background-color: rgba(0,0,0,0);
	padding: 10px 0px 10px 0px;
	border: 1px solid white;
	margin: 0px 5px 0px 5px;
}

ul.nav li a:hover {
	background-color: green;
	color: yellow;
}


/* Homepage */

.homemenu{
	display: inline-block;
	height: 300px;
	width: 300px;
	background-image: url("../Pics/menu.jpg");
	background-size: cover;
	margin: 50px;
}

.homemenu a{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: white;
	line-height: 300px;
	width: 300px;
	margin: 0;
	padding: 0;
	font-size: 50px;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
}

.homemenu a:hover{
	text-align: center;
	vertical-align: middle;
	color: white;
	line-height: 300px;
	background-color: rgba(0,128,0,0.6);
	margin: 0;
	padding: 0;
}

.homerecipe{
	display: inline-block;	
	height: 300px;
	width: 300px;
	background-image: url("../Pics/Recipe.jfif");
	background-size: cover;
	margin: 50px;
}

.homerecipe a{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: white;
	line-height: 300px;
	width: 300px;
	margin: 0;
	padding: 0;
	font-size: 50px;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
}

.homerecipe a:hover{
	text-align: center;
	vertical-align: middle;
	color: white;
	line-height: 300px;
	background-color: rgba(0,128,0,0.6);
	margin: 0;
	padding: 0;
}




/* Recipe landing page */

div.recipes{
	margin: 0px 50px 0px 50px;
}

ul.recipelist{
	text-align: left;
	padding: 0px 0px 0px 10px;
	list-style: none;
}

ul.recipelist li a{
	display: block;
	text-decoration: none;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	color: black;
}

ul.recipelist li a:hover{
	background-color: green;
	color: white;
}


/* Recipe pages */

div.ingredients{
	margin: 50px 50px 0px 50px;
}

div.method{
	margin: 50px 50px 0px 50px;	
}

div.source{
	margin: 50px 50px 0px 50px;	
}

div.source a{
	display: block;
	text-align: left;
	font-size: 16px;
	text-align: left;
	margin: 10px;
}