
body {
  background: white;
  max-width: 1500px;
  margin: auto;
  font-family:Oxygen;
  text-align: center;
  padding: 30px;
  margin: 30px;
}

h1{
	text-align: center;
	background: rgba(0,0,0,.4);
	background-size: cover;
	font-family:Permanent Marker;
	font-size: 75px;
	color: white;
	padding: 45px 0 45px 0;
	margin: 45px 0 20px 0;
}

.header{
	background-image: url("../Pics/Fugu1.jpg");
	background-position: 0% 0%;
}

p#Warning{
	background-color: yellow;
	color: red;
	font-weight: 900;
}


ul.nav{
	text-align: center;
	margin: 10px;
	padding: 30px;
}

ul.nav li{
	display: inline-block;
	padding: 25px 25px 25px 25px;
	width: 150px;
	text-align: center;
	border: 1px solid #555;


}
